body {
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport */
}

img {
  max-width: 70vw;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block; /* Allows padding and margins */
  margin: 10px 0;
  padding: 10px 20px; /* Top/bottom and left/right padding */
  border: 2px solid #7a0002; /* Outline color and thickness */
  background-color: #000; /* Button color */
  color: #7a0002; /* Text color */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Rounded corners */
  font-size: 20px; /* Font size */
  transition: background-color 0.3s; /* Smooth transition */
}

.button:hover {
  background-color: #7a0002; /* Darker shade on hover */
  color: white; /* Text color */
}

@media (min-width: 425px) {
  .button {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  img {
    max-width: 50vw;
  }

  .button {
    font-size: 35px;
  }
}

@media (min-width: 1024px) {
  img {
    max-width: 75vw;
    max-height: 80vh;
  }

  .button {
    font-size: 50px;
  }
}
